.row {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 0.5rem auto;
}
.input_box {
  width: 15%;
  font-size: 0.9rem;
  border: 1px rgb(202, 196, 196) dotted;
  text-align: right;
  height: 46px;
  text-decoration: none ;
}
.imgOfItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  border: 1px rgb(202, 196, 196) dotted;
}
.imgOfItem > img {
  width: 40%;
}

@media only screen and (max-width: 1000px) {
  .input_box,
  .imgOfItem {
    font-size: 0.7rem;
  }
  .imgOfItem > img {
    width: 60%;
  }
  .select-item {
    font-size: 0.6rem;
  }
  .checkBoxStyle {
    width: 2%;
    color: red;
    cursor: pointer;
  }

  .row_number {
    border: 1px rgb(202, 196, 196) dotted;
    width: 1.5rem;
    text-align: center;
    color: brown;
  }
}
.select-item {
  min-width: 18%;
  max-width: 40%;
  min-height: 2rem;
  max-height: 3rem;
  font-size: 0.9rem;
  text-align: right;
}
.row_number {
  border: 1px rgb(202, 196, 196) dotted;
  width: 2.5rem;
  text-align: center;
  color: brown;
}
.total {
  text-align: center;
}
.checkBoxStyle {
  width: 3%;
  color: red;
  cursor: pointer;
}
