@media screen and (max-width: 1000px) {
  .form-outline mb-1 {
    height: 20%;
  }
}
.vh-50 {
  height: 85vh;
  background-image: url("/public/home-background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
